$main-color: blue;
$max-width-layout: 100px;

@mixin horizontal-axys-layout {
  display: inline-block;
  vertical-align: middle;
}

$main-layout: 900px;
$column-layout: $main-layout / 2;
$column-xs-layout: $main-layout / 5;

$font-large-size: 12px;
$font-medium-size: 12px;
$font-small-size: 6px;
$font-xsmall-size: 4px;

h2 {
  background: #ffffff;;
}

p {
  background: $main-color;
  width: $max-width-layout;
}

.foo {
  @include horizontal-axys-layout;
}

.baar {
  @include horizontal-axys-layout;
  font-size: 19px;
}

.top-nav {
  background: blue;
  a {
    color: white;
    &:first-child {
      background: red;
    }
    &:hover {
      color: red;
    }
  }
}