@import "./partials/_reset.scss";
@import "./partials/_colors.scss";
@import "./partials/_layout.scss";
@import "./partials/_fonts.scss";
@import "./partials/_general-styles.scss";

/* Top Nav **************************************/

.top-nav {
  display: flex;
  height: 40px;
  background: $neutral;
  color: $main-color;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px 0;
  padding: 0 20px;

  a {
    color: $main-color;

    &:hover {
      color: $text-explain-color;
    }
  }
}

.top-nav-ul {
  display: flex;
  font-size: $font-small-size;
  font-weight: bold;
  text-transform: uppercase;

  a {
    padding: 0 3px 0 4px;
  }
  li:after {
    content: "|";
  }
  li:last-child:after {
    content: "";
  }
  li:first-child a {
    padding: 0 3px 0 0;
  }
}

.tittle-page {
  text-transform: uppercase;
  font-size: 18px;

  font-weight: bold;
}

/*  End Top Nav **************************************/

/* MAIN **********************************************/

/* Spacing Line *************************************/

.type-crime {
  display: inline-block;
  width: 200px;
  padding: 20px;
  text-align: center;
  color: $neutral;
  margin: 30px 0 10px;
  box-sizing: border-box;
  vertical-align: top;
}

.italic-p {
  font-size: $font-medium-size;
  font-style: italic;
  font-weight: 200;
}

.explain-subtitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: $font-small-size;
}

.example-type {
  font-size: $font-medium-size;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 5px;
}

.type-explain {
  color: $text-explain-color;
  font-style: italic;
  font-size: $font-gral-size;
  line-height: 18px;
}

.type-crime-1 p:first-child {
  position: relative;
  top: -17px;
}

.line-decorative {
  height: 1px;
  width: 100%;
  background-color: $neutral-3;
  border: none;
  margin: 0;
}

.line-spacing-nerd-alert {
  display: block;
  width: 350px;
  background-color: $examples-background;
  height: 120px;
  padding: 15px;
  margin-bottom: 30px;
}

.nerd-alert-example {
  display: block;
  float: left;
  margin: 0 10px 0 0;

  .example {
    display: inline-block;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 100%;
  }

  .sup {
    display: inline-block;
    font-size: $font-medium-l-size;
    font-weight: bold;
    line-height: 20px;
    border-bottom: 1px solid $neutral-3;
    position: relative;
    vertical-align: top;
    &::after {
      content: "↑";
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
}

.explain-text {
  display: initial;
}

.variations {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  row-gap: 13px;
  column-gap: 10px;
  padding-bottom: 70px;
}

.scala {
  color: $text-explain-color;
  justify-items: start;

  p {
    font-size: 16px;
    line-height: 22px;
  }

  .scala-tittle {
    text-transform: uppercase;
  }
}

.variations-example p {
  font-size: $font-small-size;
  text-align: justify;
}

.variations-example-1 p {
  line-height: 13px;
}

.variations-example-2 p {
  line-height: 15px;
}

.variations-example-3 p {
  line-height: 17px;
}

.variations-example-4 p {
  line-height: 22px;
}

/* End Spacing Line *************************************/

/* Alignment  ********************************************/

.alignment-gral-container {
  margin-bottom: 60px;
}

.alignment-flex-container {
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0;
  .alignment-explain-container,
  .alignment-examples {
    width: 380px;
  }
  .alignment-examples {
    background-color: $examples-background;
  }
}

.alignment-example-1 {
  text-align: center;
  padding: 30px 10px;
}

.alignment-example-2 p {
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
  padding: 0 80px 0 5px;
}

.alignment-example-3 {
  text-align: left;
  padding: 5px 0 60px 5px;

  p {
    font-size: 14px;
    line-height: 18px;
  }
}

.aligment-example-4 {
  text-align: right;
  padding: 5px 5px 0 0;

  p {
    font-size: 14px;
    line-height: 18px;
  }
}

.aligment-explain-container {
  width: 285px;
  padding-right: 90px;

  .type-explain {
    margin-bottom: 15px;
  }

  .explain-text {
    margin-top: 10px;
  }
}

.explain-text,
.explain-box-example {
  line-height: 19px;
  justify-content: start;
  color: $text-explain-color;
}

.type-crime-container {
  display: flex;
  justify-content: space-between;
  width: 290px;
  height: 135px;
  padding-right: 90px;
  padding-top: 20px;
  border-top: 2px solid $neutral;
}

.align-example-type-crime,
.type-crime-subcontainer {
  width: 48%;
}

.align-example-type-crime {
  background-color: $examples-background;
}

.example-box-1 {
  text-align: center;
  line-height: 22px;
  font-weight: normal;
}

.example-box-2 {
  text-align: justify;
  line-height: 22px;
}

.example-box-3 p {
  text-align: left;
  line-height: 22px;
}

.example-box-4 p {
  text-align: right;
  line-height: 22px;
}

.page {
  width: 400px;
  height: 600px;
}

.page-centered {
  display: inline-block;
  padding: 50px 40px;
}

.page,
.page-centered {
  background-color: $examples-background;
}

.text-page-container {
  width: 270px;
  height: 470px;
  border: 7px double $neutral;

  text-align: center;
}

.text-page-1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}

.text-page-2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 60px;
  line-height: 50px;
  color: $text-explain-color;
}

.text-page-3,
.text-page-7 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

.text-page-4 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 50px;
  line-height: 40px;
}

.text-page-5,
.text-page-6 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
}

.text-page-5,
.text-page-8,
.text-page-9 {
  color: $text-explain-color;
}

.text-page-8 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
}

.text-page-10,
.text-page-11,
.text-page-12 {
  font-size: 8px;
  line-height: 12px;
}

.text-page-13,
.text-page-16 {
  text-transform: uppercase;
  color: $text-explain-color;
}

.text-page-14 {
  font-size: 13px;
  line-height: 25px;
}

.text-page-15,
.text-page-16 {
  display: inline-block;
}

.caption {
  font-size: 13px;
  margin: 20px 0 0;
}

.page-justified {
  text-align: justify;
  line-height: 15px;
  padding: 70px 80px 0 40px;
}

.page-number {
  font-size: $font-small-size;
  padding-left: 300px;
}

.page-tittle {
  text-align: center;
  text-transform: uppercase;
  padding-top: 70px;
  margin: 0px 80px 5px 0;
}

.flush-left-text {
  margin-bottom: 80px;

  p {
    font-size: 14px;
    line-height: 14px;
    padding: 0 80px 0 40px;
  }

  div:last-child {
    margin-bottom: 0;
  }
}

.flush-paragraph {
  margin-bottom: 20px;

  p:first-letter {
    text-transform: uppercase;
  }
}

.page-tittle-flush-right {
  display: flex;
  width: 350px;
  margin: auto;
  border-bottom: 1px solid $neutral;
  padding-top: 20px;
}

.tittle-flush-right {
  font-size: 17px;
  width: 300px;
  text-align: center;
}

.download {
  font-size: 16px;
  margin: 20px 0 60px;

  a {
    color: $neutral-2;
  }
}

.flush-right,
.flush-right-space {
  font-size: 14px;
  text-align: justify;
  line-height: 14px;
}

.flush-right {
  padding: 0px 30px 0 113px;
}

.flush-right-space {
  display: inline-block;
  width: 260px;
}

.flush-right-first-column {
  display: inline-block;
  width: 108px;
  text-align: right;
  margin-right: 15px;
  line-height: 14px;
}

/* End Alignment  ********************************************/
